body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

.pokedex {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 60px;
}

.pokemon-section {
    width: 300px;
}

.details-section {
    width: 300px;
}

.img-container {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemon-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#pokemon-name {
    width: 300px;
    height: 40px;
    background-color: #e8e8e8;
    border: 1px solid gray;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 18px;
    font-size: 20px;
}

#pokemon-types span {
    padding: 5px 12px;
    border-radius: 6px;
    color: black;
    font-size: 14px;
    text-transform: lowercase;
}

.types-section {
    margin-top: 25px;
}

#pokemon-types {
    margin-top: 10px;
}

.arrow-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.arrow-buttons button {
    width: 110px;
    height: 45px;
    border: none;
    border-radius: 7px;
    background-color: #e8e8e8;
    font-size: 28px;
}

#panel-title {
    text-align: center;
    margin-top: 0;
}

#stats-panel {
    width: 280px;
    height: 380px;
    background-color: #e8e8e8;
    margin-top: 25px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#stats-panel p {
    margin: 5px 0;
    font-size: 18px;
}

.tab-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.tab-buttons button {
    width: 110px;
    height: 45px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
}

.tab-buttons button.active {
    background-color: #66ff66;
}


#pokemon-types {
    display: flex;
    gap: 10px;
}